footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 8vh;
  text-align: center;
}
.footer {
  background: bisque;
  color: black;
  padding: 30px 0;
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
}
.footer-bottom {
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #9b6b58;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0 20px;
}