<div class="login-container">
  <div class="login-header">
    <h1>Welcome Back</h1>
    <p>Please login to your account</p>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="login(emailInput.value, passwordInput.value)">

      <div class="form-group">
        <label for="email">Email</label>
        <input
        type="email"
        id="email"
        name="email"
        #emailInput="ngModel"
        ngModel
        required
        appEmailValidation
        minlength="15"
        
        />
      </div>
      
      @if(emailInput?.touched) {

        @if(emailInput?.errors?.['required']){
          
          <div class="error-message">
            <p>Email is required.</p>
          </div>
          }
        @if(emailInput?.errors?.['minlength']){
          
          <div class="error-message">
            <p>Email must be at least 10 characters.</p>
          </div>
          }
        @if(emailInput?.errors?.['emailValidator']){
          
          <div class="error-message">
            <p>Email is invalid!</p>
          </div>
          }
          <!-- Works ! -->
      }
      
      <div class="form-group">
        <label for="password">Password</label>
        <input
        type="password"
        id="password"
        name="password"
        #passwordInput="ngModel"
        ngModel
        required
        />
      </div>
      
      @if(passwordInput?.touched) {
        
        @if(passwordInput?.errors?.['required']){
          
          <div class="error-message">
            <p>Password is required.</p>
          </div>
        }
      }
      
      <button class="button"
      [disabled]="loginForm.invalid"
      [style]="{ backgroundColor: loginForm.invalid ? 'grey' : '#908068' }"
      >Login</button>
  </form>

  <div class="signup-link">
    Don't have an account? <a routerLink="/register">Sign up</a>
  </div>
</div>
