<div class="profile-container">
  <div class="profile">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkshh0IMgSA8yw_1JFALVsXFojVdR88C05Fw&s"
      alt="default user"
    />
    <h3>Edit Profile Info:</h3>

    <form #editForm="ngForm" (ngSubmit)="onEdit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          #nameInput="ngModel"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="text"
          id="email"
          name="email"
          email
          #emailInput="ngModel"
          ngModel
          required
        />
      </div>
      <button class="edit-button">Edit</button>
    </form>
  </div>
</div>
