<div class="edit-container">
  <div class="header">
    <h1>Edit Profile</h1>
  </div>

  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkshh0IMgSA8yw_1JFALVsXFojVdR88C05Fw&s"
    alt="default user"
  />

  <form #createForm="ngForm" (ngSubmit)="editProfile()">
    <div class="form-group">
      <label for="name">Edit Name</label>
      <input
        type="text"
        id="name"
        name="name"
        #nameInput="ngModel"
        ngModel
        required
      />
    </div>
    <div class="form-group">
      <label for="editEmail">Edit Email</label>
      <input
        type="text"
        id="editEmail"
        name="editEmail"
        #emailInput="ngModel"
        ngModel
        required
      />
    </div>
    <button class="fragrance-button">Edit</button>
  </form>
</div>
