<div class="container">
  <div class="fragrance-container">
    <h2 class="fragrance-name">{{ fragrance.name }}</h2>
    <img [src]="fragrance.imageUrl" class="fragrance-image" />
    <p class="fragrance-description">
      {{ fragrance.description }}
    </p>
    <div class="notes">
      @for (scent of fragrance.scents; track $index) {
      <p>{{ scent }}</p>
      }
    </div>
    <div class="button-group">
      <button class="btn btn-like">❤ Like</button>
      <button class="btn btn-edit">✏️ Edit</button>
      <button class="btn btn-delete">🗑️ Delete</button>
    </div>
  </div>
</div>
