<div class="create-container">
  <div class="create-header">
    <h1>Create Fragrance</h1>
  </div>
  <form #createForm="ngForm" (ngSubmit)="create()">
    <div class="form-group">
      <label for="name">Fragrance Name</label>
      <input
        type="text"
        id="name"
        name="name"
        #nameInput="ngModel"
        ngModel
        required
        minlength="3"
      />
    </div>

    @if(nameInput?.touched) {

      @if(nameInput?.errors?.['required']){
        
        <div class="error-message">
          <p>Name is required.</p>
        </div>
        }
      @if(nameInput?.errors?.['minlength']){
        
        <div class="error-message">
          <p>Name must be at least 3 characters.</p>
        </div>
        }
    }

    <div class="form-group">
      <label for="imageUrl">Image Url</label>
      <input
        type="text"
        id="imageUrl"
        name="imageUrl"
        #imageInput="ngModel"
        ngModel
        required
        appImageUrlValidation
      />
    </div>

    @if(imageInput?.touched) {

      @if(imageInput?.errors?.['required']){
        
        <div class="error-message">
          <p>Image url is required.</p>
        </div>
        }
      @if(imageInput?.errors?.['minlength']){
        <div class="error-message">
          <p>Image url must be at least 3 characters.</p>
        </div>
        }
      @if(imageInput?.errors?.['urlValidator']){
        <div class="error-message">
          <p>Image url is invalid.</p>
        </div>
        }
    }

    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="text"
        id="description"
        name="description"
        #descriptionInput="ngModel"
        ngModel
        required
        minlength="15"
      />
    </div>

    @if(descriptionInput?.touched) {

      @if(descriptionInput?.errors?.['required']){
        
        <div class="error-message">
          <p>Description is required.</p>
        </div>
        }
      @if(descriptionInput?.errors?.['minlength']){
        
        <div class="error-message">
          <p>Description must be at least 15 characters.</p>
        </div>
        }
    }

    <div class="form-group">
      <label for="scents">Scents</label>
      <input
        type="text"
        id="scents"
        name="scents"
        #scentsInput="ngModel"
        ngModel
        required
      />
    </div>
    @if(scentsInput?.touched) {

      @if(scentsInput?.errors?.['required']){
        
        <div class="error-message">
          <p>Scents are required.</p>
        </div>
        }
    }
    <button class="fragrance-button"
    [disabled]="createForm.invalid"
      [style]="{ backgroundColor: createForm.invalid ? 'grey' : '#908068' }"
    >Create Fragrance</button>
  </form>
</div>
