<div class="create-container">
  <div class="create-header">
    <h1>Create Fragrance</h1>
  </div>
  <form>
    <div class="form-group">
      <label for="fragrance-name">Fragrance Name</label>
      <input type="text" id="name" name="name" required />
    </div>
    <div class="form-group">
      <label for="image">Image Url</label>
      <input type="email" id="image" name="image" required />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" id="description" name="description" required />
    </div>
    <!-- <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input
        type="password"
        id="confirm-password"
        name="confirm-password"
        required
      />
    </div> -->
    <button class="fragrance-button">Create Fragrance</button>
  </form>
</div>
