* {
  padding: 0;
  margin: 0;
}

main {
  min-height: 83vh;
}

button:hover {
  cursor: pointer;
}

body, html {
  /* justify-content: center; */
  display: flex;
  height: 100%;
  margin: auto;
  position: relative;
  min-height: 100vh;
  font-optical-sizing: auto;
  background-color: #e4e3e3;
  align-items: center;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #f5dca7;
}

