@if(errorMsg) {
  <app-error-notif></app-error-notif>
}

<!-- <main> -->
<div class="register-container">
  <div class="register-header">
    <h1>Create Account</h1>
    <p>Please fill in your information</p>
  </div>
  <form #registerForm="ngForm" (ngSubmit)="register()">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        #nameInput="ngModel"
        ngModel
        required
        minlength="3"
      />
    </div>

    @if(nameInput?.touched) {

      @if(nameInput?.errors?.['required']){
        
        <div class="error-message">
          <p>Name is required.</p>
        </div>
        }
      @if(nameInput?.errors?.['minlength']){
        
        <div class="error-message">
          <p>Name must be at least 3 characters.</p>
        </div>
        }
        <!-- Works ! -->
    }

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        name="email"
        email
        #emailInput="ngModel"
        ngModel
        required
        minlength="15"
        appEmailValidation
      />
    </div>

    @if(emailInput?.touched) {

      @if(emailInput?.errors?.['required']){
        
        <div class="error-message">
          <p>Email is required.</p>
        </div>
        }
      @if(emailInput?.errors?.['minlength']){
        
        <div class="error-message">
          <p>Email must be at least 10 characters.</p>
        </div>
        }
      @if(emailInput?.errors?.['emailValidator']){
        
        <div class="error-message">
          <p>Email is invalid!</p>
        </div>
        }
        <!-- Works ! -->
    }

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        #passwordInput="ngModel"
        ngModel
        required
        minlength="5"
      />
    </div>

    @if(passwordInput?.touched) {

      @if(passwordInput?.errors?.['required']){
        
        <div class="error-message">
          <p>Password is required.</p>
        </div>
        }
      @if(passwordInput?.errors?.['minlength']){
        
        <div class="error-message">
          <p>Password must be at least 5 characters.</p>
        </div>
        }
      }

    <div class="form-group">
      <label for="rePassword">Confirm Password</label>
      <input
        type="password"
        id="rePassword"
        name="rePassword"
        #rePasswordInput="ngModel"
        ngModel
        required
        minlength="5"
      />
    </div>

    @if(rePasswordInput?.touched) {

      @if(rePasswordInput?.errors?.['required']){
        
        <div class="error-message">
          <p>Confirm Password is required.</p>
        </div>
        }
      }

      <!-- @if (registerForm.controls['password'].value !== registerForm.controls['rePassword'].value) { -->
       @if (passwordInput.touched && rePasswordInput.touched) {

         @if (passwordsMatch) {
           <div class="error-message">
             <p>Passwords don't match!</p>
            </div>
          }
        }
    
    <button class="register-button" 
    [disabled]="registerForm.invalid"
      [style]="{ backgroundColor: registerForm.invalid ? 'grey' : '#908068' }"
    >Create Account</button>
  </form>
  <div class="login-link">
    Already have an account? <a routerLink="/login">Login here</a>
  </div>
</div>

<!-- </main> -->
