* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
main {
  min-height: 100vh
}
.register-container {
  background: bisque;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-header {
  text-align: center;
  margin-bottom: 40px;
}

.register-header h1 {
  color: #2c1810;
  font-size: 2em;
  margin-bottom: 10px;
}

.form-group {
  margin-right: 25px;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #9b6b58;
  outline: none;
}

.register-button {
  width: 100%;
  padding: 12px;
  background: #2c1810;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.register-button:hover {
  background: #9b6b58;
}

.terms {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.terms a {
  color: #9b6b58;
  text-decoration: none;
  font-weight: bold;
}

.terms a:hover {
  text-decoration: underline;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  color: #666;
}

.login-link a {
  color: #9b6b58;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}
